@(jsonString: String, form: Form[Task],username: String)

@helper.javascriptRouter("jsRoutes")(
    routes.javascript.HomeController.createTask
)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="@routes.Assets.versioned("/javascripts/jquery-3.3.1.min.js")"></script>
    <script>


    function deleteAjax(url, id) {
        $.get(url, function() {
            var divNode = document.getElementById("taskNames");
            divNode.removeChild(document.getElementById(id));
                                  }
                                  );
    }
    //new ajax update button
    function updateAjax(url, id) {
        $.get(url, function(data) {
            var status = document.getElementById("status_of_" + id);
            if (data.isTaskComplete) {
                status.textContent = "complete";
            }
            else {
                status.textContent = "incomplete";
            }
        }
        );
     }

     //new ajax create button
     /* need to send form data to createTask along with url

     */
     function createAjax() {
        $.get(jsRoutes.controllers.HomeController.createTask(document.createTaskForm.name.value).absoluteURL(), function(data) {
            var taskNamesDiv = document.getElementById("taskNames");
            taskNamesDiv.appendChild(createParagraph(data));
            }
            );
        return false;
     }

    //function to run
      function parseJson() {
        var jsonString = "@jsonString";
        var json = JSON.parse(jsonString.replace(/&quot;/g,'"'));
        var taskNamesDiv = document.getElementById("taskNames");
        for (i in json) {
            taskNamesDiv.appendChild(createParagraph(json[i]));
        }
      }
        function createCheckbox(json) {
            var checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.id = "checkbox_" + json.id
            checkbox.onclick = function() {
                updateAjax(json.updateLink, json.id);
                }
            if (json.isTaskComplete == true) {
                checkbox.checked = true;
                }
            else {
                checkbox.checked = false;
                }
            return checkbox;
        }
        function createDeleteButton(json) {
            var deleteButton = document.createElement("input");
            deleteButton.type = "button";
            deleteButton.value = "Delete Task";
            deleteButton.onclick = function() {
                deleteAjax(json.deleteLink, json.id);
            }
            return deleteButton
            }
        function createParagraph(json) {
            var p = document.createElement("p");
            p.id = json.id;
            var taskName = document.createTextNode(json.name);
            p.appendChild(taskName);
            var checkbox = createCheckbox(json);
            p.appendChild(document.createElement("br"));
            p.appendChild(checkbox);
            if (checkbox.checked) {
                var status = document.createElement("div");
                status.id = "status_of_" + json.id;
                status.textContent = "complete";
                p.appendChild(status);
                p.appendChild(document.createElement("br"));
            }
            else {
                var status = document.createElement("div");
                status.id = "status_of_" + json.id;
                status.textContent = "incomplete";
                p.appendChild(status);
                p.appendChild(document.createElement("br"));
            }

            p.appendChild(createDeleteButton(json));
            p.appendChild(document.createElement("br"));
            return p
            }

   </script>
</head>
<body onload="parseJson()">

<h1>Task List</h1>
<h4>Logged in as: @username</h4>
<button onclick="location.href='@controllers.routes.LoginController.logOut';">Log out</button>
<h4>Enter new task</h4>

<form name=createTaskForm onsubmit="return createAjax()">
    Enter New Task: <br>
    <input type="text" name="name">
    <input type="submit" value="Add Task">
</form>
<h3>Tasks</h3>
<div id="taskNames"></div>
<br>
For troubleshooting:
<br>
 @jsonString
</body>
</html>
