@(form: Form[Account])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
Welcome to login page.
@helper.form(routes.LoginController.authenticate) {
@helper.inputText(form("username"))
@helper.inputPassword(form("password"))
<button type="submit">Log in</button>
}
<button onclick="location.href='@controllers.routes.LoginController.renderNewAccountPage';">Sign up</button>
@if(flash.contains("status")) {
<p class="status">
    @flash.get("status")
</p>
}
</body>
</html>
